@media(max-width:991px){
    .banner-text h3 {
        font-size: 29px;
    }
    .leader-item {
        width: 33.33%;
        flex-basis: 33.33%;
        margin: 15px 0px;
    }
   
    .map-container {
        height: 400px;
        position: relative;
    }    
    .iim-heading {
        font-size: 37px;
    }
    .iim-image img{
        width: 132px;
    }
}

@media(max-width:768px){
    .banner-text {
        background-color: #0166abc7;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        text-align: center;
        pointer-events: none;
        color: #ffffff;
        padding: 12px 5px;
        width: 95%;
        max-width: 400px;
        bottom: auto;
        padding-bottom: 24px;
    }
    .banner-text h3 {
        font-size: 31px;
    }
    .banner-text span {
        background-color: #d87203;
        padding: 4px 0px;
        display: block;
        border-radius: 23px;
        margin-top: 15px;
        font-size: 17px;
    }
    .apply-item {
        flex: 1 !important;
        word-break: break-word;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .leader-item {
        width: 50%;
        flex-basis: 50%;
    }
    .benefits-item {
        border-right: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 25px;
    }
    .benefits-item:last-child {
        border-bottom: 0px;
    }
    .outside.toggle-btn {
        text-indent: -999px;
        padding: 0 !important;
        height: 34px;
        left: 10px;
        top: 100px;
        width: 44px;
        background-position: 11px center;
        overflow: hidden;
    }
    .hero-section .enquire-now-form {
        top: 54%;
        left: 10px;
        margin-right: 10px;
        transform: translatey(-50%);
    }
    .app-procedure .bg-icon .icon1, .app-procedure .bg-icon .icon2{
        height: 100px;
    }
    .app-procedure .bg-icon .icon3, .app-procedure .bg-icon .icon4 {
        width: 95px;
        opacity: .5;
    }
    .recruiter-slider .slick-arrow::before {
        font-size: 24px;
    }
}


@media(max-width:576px){
    .leader-item {
        width: 100%;
        flex-basis: 100%;
    }
    .iim-image {
        order: -1;
        margin-bottom: 21px;
    }
    .navbar-brand img {
        width: 180px;
    }
    .hero-section{
        background-image: url(../images/nsb-mobile-banner.png);
        background-size: cover;
        background-position: center;
    }
}