@media(max-width:991px){
    .leader-item {
        width: 33.33%;
        flex-basis: 33.33%;
        margin: 15px 0px;
    }
   
    .map-container {
        height: 400px;
        position: relative;
    }    
    .iim-heading {
        font-size: 37px;
    }
    .iim-image img{
        width: 132px;
    }
}

@media(max-width:768px){
    .apply-item {
        flex: 1 !important;
        word-break: break-word;
    }
    .leader-item {
        width: 50%;
        flex-basis: 50%;
    }
    .benefits-item {
        border-right: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 25px;
    }
    .benefits-item:last-child {
        border-bottom: 0px;
    }
    .outside.toggle-btn {
        text-indent: -999px;
        padding: 0 !important;
        height: 34px;
        left: 10px;
        top: 100px;
        width: 44px;
        background-position: 11px center;
        overflow: hidden;
    }
    .hero-section .enquire-now-form {
       
        top: 88px;
        left: 10px;
        margin-right: 10px;
    }
    .app-procedure .bg-icon .icon1, .app-procedure .bg-icon .icon2{
        height: 100px;
    }
    .app-procedure .bg-icon .icon3, .app-procedure .bg-icon .icon4 {
        width: 95px;
        opacity: .5;
    }
    .recruiter-slider .slick-arrow::before {
        font-size: 24px;
    }
}


@media(max-width:576px){
    .leader-item {
        width: 100%;
        flex-basis: 100%;
    }
    .iim-image {
        order: -1;
        margin-bottom: 21px;
    }
    .navbar-brand img {
        width: 180px;
    }
}