.mh-100vh{
    min-height: 100vh;
}
.padder-lg{
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}
.font-semibold {
    font-weight: 500;
}
.border-primary {
    border-color: #0166ab!important;
}
.bg-bright-blue{
    background-color: #000079 !important;
}

.bg-primary{
    background-color: #0166ab !important;
}
.text-primary{
    color: #0166ab !important;
}
.text-bright-blue{
    color: #000079 !important;
}
.text-warning{
    color: #d87203!important;
}
.bg-warning{
    background-color: #d87203 !important;
}
.btn-primary {
    background-color: #0166ab;
    border-color: #0166ab;
}

.object-fit-cover{
    object-fit: cover;
}


/*###############-------Navigation section------#################*/
.navbar{
    z-index: 1006;
}
.navbar-nav .nav-item .nav-link h5 {
    font-size: 15px;
}
.navbar-nav .nav-item .nav-link span {
    font-size: 13px;
    display: block;
}
.nav-btn {
    font-size: 14px;
    border-radius: 23px;
    padding: 8px 15px;
}
/*###############-------Video Banner------#################*/
.hero-slider  img{
   width: 100%;
   max-width: 100%;
   height: calc(100vh - 71px);
   object-fit: cover;
}
.hero-slider .slick-dots{
    bottom: 13px;
}
.slick-dots li button:before {
    font-size: 10px;
    width: 18px;
    height: 18px;
    background-color: #d87203 ;
    border-radius: 50%;
    content: '';
    opacity: 1;
    box-shadow: 0px 0px 0px 3px white inset;
    
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #0166ab;
}
.hero-section{
    min-height: calc(100vh - 71px);
}

.hero-section .enquire-now-form{
    max-width: 380px;
    top: 100px;
    left: 40px;
    transition: all ease-in-out 300ms;
    z-index: 1000;
    
}
.hero-section .enquire-now-form.out{

    left: -400px;
}
.enquire-now-form .toggle-btn {
    right: 12px;
    top: 7px;
}
.outside.toggle-btn {
    top: 50%;
    left: -31px;
    color: #fff;
    height: 40px;
    font-size: 19px;
    line-height: 20px;
    font-weight: 600;
    background: url(../images/ic_form.png) no-repeat 24px center;
    background-color: #d87203;
    padding: 6px 22px 9px 60px !important;
    border-radius: 20px;
    transform-origin: center center;
    transform: rotate(-90deg);
    transition: .5s;
    z-index: 100;
}
.banner-text {
    z-index: 100;
    right: 50px;
    bottom: 70px;
    color: white;
    text-align: center;
}
.banner-text h3 {
    font-size: 40px;
    text-shadow: 0px 0px 17px black;
    font-weight: 700;
}
.banner-text span {
    display: inline-block;
    background-color: #0166abc7;
    padding: 10px 24px;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}
/*###############-------IIM section------#################*/
.iim-heading {
    font-size: 55px;
}



/*###############-------Course Section------#################*/
.course-item {
    max-width: 570px;
    margin: 0 auto;
}
.course-section .row > div{
    transition: all ease-in-out 300ms;
}
.course-section .row > div:hover {
    background-color: #000079 !important;
}

/*###############-------Key benefit section------#################*/
.key-benefits{
    background-image: url(../images/key-benifit.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.benefits-item{
    border-right: 1px solid white
}
.benefits-item:last-child{
    border-right: 0px;
}

/*###############-------Leader section------#################*/
.leader-item {
    width: 20%;
    flex-basis: 20%;
    padding: 0px 10px;
}
.leader-item > div{
    padding-bottom: 54px;
}
.leader-name {
    bottom: 0px;
    width: 100%;
    clip-path: polygon(0% 40%, 106% 0%, 100% 100%, 0% 100%);
    min-height: 92px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
.leader-name h5 {
    font-size: 16px !important;
}
.leader-item img{
    transition: all ease-in-out 300ms;
}
.leader-item:hover img{
    transform: scale(1.1);
}
/*###############-------Learn  section------#################*/
.learn-with-us-section{
    background-image: url(../images/banner-pink.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*###############-------Why pgdm Section------#################*/
.why-pgdm-section{
    background-image: url(../images/energy-banner.png);
    background-size: cover;
}

/*###############-------App procedure Section------#################*/
.app-procedure .bg-icon img{
    pointer-events: none;
    z-index: -1;
}
.app-procedure .bg-icon .icon1{
    bottom: 0px;
    left: 0px;
}   
.app-procedure .bg-icon .icon2{
    bottom: 0px;
    right: 0px;
}
.app-procedure .bg-icon .icon3{
    top: 100px;
    left: 0px;
}
.app-procedure .bg-icon .icon4{
    top: 30%;
    right: 40px;
}


/*###############-------Recruiter  Section------#################*/
.recruiter-section{
    background-image: url(../images/recruiter_banner.png);
    background-size: cover;
    background-position: bottom;
}

.recruiter-slider .slick-arrow::before{
    font-size: 36px;
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}


/*###############-------How Apply  Section------#################*/
.apply-item {

    margin: 10px;
    max-width: 400px;
}

.apply-item p{
    font-size: 13px;
}
.flex-1{
    flex: 1 !important;
   }
.flex-2{
 flex: 2 !important;
}
.flex-3{
    flex: 3 !important;
}

/*###############-------Map  section------#################*/
.map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*###############-------Footer  section------#################*/
.footer{
    background-image: url(../images/footer-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
}

.social-list li a {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0px 6px;
}
.social-list li a:hover{
    text-decoration: none;
}
.phone-icon {
    font-size: 22px;
}

